
.calendar {
  display: block;
  width: 400px;
  height: 300px;
  background-color: #ffffff82;
  border-radius: 1em;
  overflow: hidden;
  margin: 0 auto;
}

.calendar span
{
  font-size: 8em; /* change icon size */
  line-height: 250px;
}

.header {
  height: 50px;
  line-height: 50px;
  background-color: #a91f1fc2;
  font-size: 1.5em;
}

.header-text{
  padding: 2%;
}

.input {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#standard-number {
}



body {
  min-width: 600px;
  text-align: center;
  padding: 5%;
  background-image: url('images/novel-coronavirus-covid-19.jpg');
}
